@import url(app.css);

.notif-section {

  justify-content: flex-start;
}

.disable-btn {
  cursor: no-drop;
}

.disable-btn:hover {
  background-color: rgba(0, 128, 0, 0.528) !important;
}

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
